{:deps {org.clojure/clojure                      {:mvn/version "1.12.0"}
        org.clojars.jekyllislandtours/conceptual {:mvn/version "0.1.100"}
        org.cojen/tupl                           {:mvn/version "1.8.0"}}

 :paths ["src/clj" "target/classes"]

 :aliases
 {:build
  {:ns-default build
   :deps
   {io.github.clojure/tools.build {:git/tag "v0.10.5" :git/sha "2a21b7a"}
    slipset/deps-deploy {:mvn/version "0.2.2"}}}

  :dev {}

  :test
  {:main-opts   ["-m" "kaocha.runner" "--config-file" "tests.edn"]
   :extra-paths ["test/clj" "test/resources"]
   :extra-deps
   {lambdaisland/kaocha                     {:mvn/version "1.91.1392"}
    org.clojure/test.check                  {:mvn/version "1.1.1"}
    com.github.seancorfield/expectations    {:mvn/version "2.1.201"}}}


  :cider
  {:extra-deps {cider/cider-nrepl {:mvn/version "0.50.2"}}
   :main-opts  ["-m" "nrepl.cmdline" "--interactive" "--color" "--middleware" "[cider.nrepl/cider-middleware]" ]}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "2.9.1232"}}
   :main-opts  ["-m" "antq.core"]}}

 :deps/prep-lib {:ensure "target/classes"
                 :alias  :build
                 :fn     compile-java}}
